<% if signed_in? %>
  <div class="row">
    <h1>Welcome to</h1>
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= link_to 'Sign out', signout_path, method: "delete" %>
      </section>
    </aside>
     <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to</h1>

    <h2>
      This is the home page for the
      <i> Ruby on Rails </i>
      <abbr>  sample client application.</abbr>
    </h2>

    <% if session[:access_token] %>

      <%= link_to 'Get User', "http://localhost:3000/api/v1/user?access_token=#{session[:access_token]}" %>
      <%= link_to 'Update User', "http://localhost:3000/api/v1/user/update?access_token=#{session[:access_token]}" %>
      <%= link_to 'Sign out', signout_path, method: "delete" %>
    <% else %>
      <%= link_to 'Authorize via Client app', new_oauth_token_path %>
    <% end %>
  </div>


<% end %>